<html>
  <head>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/email">Email</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      this is the footer
    </footer>
  </body>
</html>