body {
  transition: all 1s;
  padding: 0;
  margin: 0;
}

article {
  width: 100vw;
  height: 100vh;
  position: relative;
}

audio {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

p {
  font-size: 60px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 2px #ccc;
  padding: 0;
  margin: 0;
}

#left, #center, #right {
  top: 0;
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
  transition: background-color 1s .75s;
  /*transition: transform 1s, background-color .5s .25s;*/
}

#left {
  width: 33.3%;
  position: absolute;
  left: 0;
  background: red;
}

#center {
  width: 33.3%;
  position: absolute;
  left: 33.3%;
  background: green;
}

#right {
  width: 33.4%;
  position: absolute;
  left: 66.6%;
  background: blue;
}

@keyframes rotate-animation {
  0%  { transform: rotate(0deg); }
  25%  { transform: rotate(-40deg); }
  50%  { transform: rotate(-40deg) rotateY(-90deg); }
  75%  { transform: rotate(-40deg) rotateY(0deg); }
  100% { transform: rotate(0deg); }
}

.rotate {
  animation: rotate-animation 2s;
  /*transform: rotate(-40deg);*/
}