body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

h1 {
  text-transform: capitalize;
  text-align: center;
}

/* 
  whenever we switch to this class
  it will add " Sí" text to the end of 
  the h1
 */
h1.bear::after {
  color: red;
  content: " Sí";
}

strong {
  font-size: 200px;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 175px;
  color: white;

  /* 
    this is a little bit of a hack to 
    add a stroke the ? in front of my picture
  */
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  /* 
    this will transition all elements being changed
    in 1 second (at the same time)
   */
  transition: all 1s;
}

strong.hidden {
  opacity: 0;
}

a {
  display: inline-block;
  height: 440px;
  width: 440px;
  background-repeat: no-repeat;
  background-image: url("http://wearenytech.com/uploads/humans/14-orlandoc.jpg");
  background-size: 100% auto;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 0 0 5px black;

  /* 
    this will transition only specific elements
    with specific timings and delays
   */
  transition:
    transform 1s,
    background-image 1.5s,
    width 0.5s linear 0.5s, 
    height 1s linear 1s;
}

.transition {
  background-image: url("http://i0.wp.com/cdn.bgr.com/2015/10/bear.jpg");
  width: 625px;
  height: 468px;

  /* 
    these transforms will rotate the image a bit
    and position itself centered in the page
  */
  transform: rotate(360deg) translate(50%,0);
}